.footer{
}

.footer_subscribe{
    display: flex;
    padding: 32px 0;
}

.subscribe__area {
    margin-left: auto;
}

.subscribe__desc{
    font-size: 16px;
    line-height: 125%;
    color: rgba(0, 0, 0, 0.85);
}
.subscribe__desscr{
    color: rgba(0, 0, 0, 0.7);
}

.subscribe__input{
    margin-bottom: 8px;
    input{
        height: 50px;
        width: 554px;
        background-color: #F9F9F9;
        border-radius: 5px;
        border-color: rgba(0, 0, 0, 0.1);
        padding: 15px 15px;
    }
}

.subscribe__text{
    display: flex;
    align-items: center;
    span{
    font-size: 14px;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.7);}
    .chekbox{
        margin: 0 5px;
        // как поля chekbox сделать невидимыми как в figma?
    }
}

.footer__nav{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 32px 0;
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.1);
}

.nav-colum{
    list-style: none;
    font-size: 16px;
    line-height: 125%;
    p{
    color: rgba(0, 0, 0, 0.85);
    margin-bottom: 12px;}
    li{
        margin-bottom: 6px;}
    a{
        color: rgba(0, 0, 0, 0.55);
        &:hover{
            color: white;
            background: grey;
        }
    }
}

.nav-follow{
    .fol-compan{
        display: flex;
    }
    img{
        margin-right: 4px;
        height: 20px;
        width: 20px;
    }
}
.pointer::after{
    content: url(../imgs/pointer.png);
    width: 16px;
    height: 16px;
    margin-left: 4px;
}
.twitter::before{
    content: url(../imgs/twitter.svg);
    margin-right: 4px;
    height: 20px;
    width: 20px;
}
.facebook::before{
    content: url(../imgs/facab.svg);
    margin-right: 4px;
    height: 20px;
    width: 20px;
}
.instagram::before{
    content: url(../imgs/insta.svg);
    margin-right: 4px;
    height: 20px;
    width: 20px;
}
.dribbble::before{
    content: url(../imgs/bribb.svg);
    margin-right: 4px;
    height: 20px;
    width: 20px;
}
.nineteen::after{
    content: url(../imgs/nineteen.png);
    width: 28px;
    height: 18px;
    margin-left: 4px;
}

.footer__year{
    font-size: 13px;
    line-height: 125%;
    text-align: center;
    color: rgba(0, 0, 0, 0.55);
}