.welcome{
}

.welcome-screens{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*пока для общего вида*/
    
}
/*как картинки правильно расположить, область остаётся пустой????*/
.frst-screen{
    
    transform: translate(-117px, -133px);
    z-index: 2;
}
.scnd-screen{
    position: absolute;
    top: 0;
    right: 0;
}

.welcome__inf{
    margin: 128px 0px;
}

.welcome__title{
    font-weight: bold;
    font-size: 14px;
    line-height: 114%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.welcome__row{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 76px;
        list-style: none;
    }
    .row-logo{
        padding: 0px 48px;
        max-width: 100%;
    }
