.scale{
    background-image: url(../imgs/bg-scale.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover ;
}
.scale__inf{
    display: flex;
    margin: 0 -9px;
    margin-bottom: 24px;
    align-items: center;
    .scale__title{
        color: #8D5F10;
    }
 }
 .scale__descr{
    flex: 0 1 50%;
    max-width: 50%;
    padding: 127px 28px 128px 28px;  
}

.scale__title{
    font-size: 14px;
    line-height: 114%;
    text-transform: uppercase;
    color: #F5A925;
    margin-bottom: 15px;
}

.scale__text{
    font-size: 32px;
    line-height: 112%;
    color: #000000;
    margin-bottom: 15px;
}
.scale__desc{
    font-size: 17px;
    line-height: 141%;
    color: rgba(33, 33, 35, 0.7);
    margin-bottom: 23px;
    max-width: 520px;
}
.scale__par{
    font-size: 17px;
    line-height: 141%;
    color: #000000;
}
 .scale__img{
    flex: 0 1 50%;
    max-width: 50%;
    padding: 0 9px;
    height: 100%;
    img{
        max-width: 100%;
        transform: scale(1.1, 1.2);
        // сделал как посчитал нужным
    }
 }

 .scale__colums{
    display: flex;
    margin: 0 -12px;
    margin-bottom: 96px;
}
.scale__colum{
    padding: 0 12px;
    flex: 1 0 50%;
    width: 50%;

}
.scale__colum1{
    display: flex;
    flex-direction: column;
    background: #F9F9F9;
   
}
.scale__colum1-img{
    margin-bottom: 39px;
    max-width: 100%;
}
.colum1-sacle-inf {
   padding: 0 55px 41px 32px;

    .scale__title{
        font-size: 14px;
        line-height: 114%;
        text-transform: uppercase;
        color: #F5A925; 
        margin-bottom: 15px;
    }
    
    .scale__text{
        font-size: 32px;
        line-height: 112%;
        color: #000000;
        margin-bottom: 15px;
    }
    .scale__desc{
        font-size: 17px;
        line-height: 141%;
        color: rgba(33, 33, 35, 0.7);
        margin-bottom: 23px;
        max-width: 470px;
    }
    .scale__par{
        font-size: 17px;
        line-height: 141%;
        color: #000000;
    }
}
.colum2-scale-inf{
    padding: 151px 55px 151px 32px;
    background-image: url(../imgs/scale-bg2.jpg);
    background-repeat: no-repeat;
    height: 100%;
    .colum2-scale-text{
        font-size: 24px;
        line-height: 133%;
        color: black;
        margin-bottom: 55px;
    }
    .colum2-scale-auth{
        font-size: 17px;
        line-height: 141%;
        color: #000000;
        max-width: 412px;
    }
}

@media (max-width:1024px){
    .colum2-scale-inf{
            padding: 151px 55px 50px 32px;
         }
     }