.open{
    background-image: url(../imgs/sec-open.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover ;
    // убрать высоту после
}
.open__inf{
   display: flex;
   margin-bottom: 24px;
} 
.open__img{
    transform: translate(-131px, 24px);
    max-height: 100%;
    max-width: 100%;
    //картинку кое-как расположил
}
.open__descr{
    margin-left: -100px;
    padding: 127px 85px 128px 0; 
}

.open__title{
    font-size: 14px;
    line-height: 114%;
    text-transform: uppercase;
    color: #B2F0EC;
    margin-bottom: 15px;
}

.open__text{
    font-size: 32px;
    line-height: 112%;
    color: #000000;
    margin-bottom: 15px;
}
.open__desc{
    font-size: 17px;
    line-height: 141%;
    color: rgba(33, 33, 35, 0.7);
    margin-bottom: 23px;
}
.open__par{
    font-size: 17px;
    line-height: 141%;
    color: #000000;
}

.open__colums{
    display: flex;
    margin: 0 -12px;
    margin-bottom: 152px;
}
.open__colum{
    padding: 0 12px;
    flex: 1 0 50%;
    width: 50%;
    // как сделать высоту калонок одинаковой?
}

.colum1{
    padding: 160px 45px 129px 32px;
    // просто подогнал чтоб высота колонок была одинаковой
    background-image: url(../imgs/bg-open.jpg);
    background-repeat: no-repeat;
    
}
.colum1-text{
    font-size: 24px;
    line-height: 133%;
    color: black;
    margin-bottom: 55px;
    
}
.colum1-auth{
    font-size: 17px;
    line-height: 141%;
    color: #000000;
    max-width: 412px;
}

.colum2 {
    display: flex;
    flex-direction: column;
    background: #F9F9F9;
}
.colum2-inf{
    padding: 39px 34px 40px 32px;
    .open__title{
        color: #3FB2A5;
    }
}
.colum-img{
    align-self: center;
}