.extens {
    margin-bottom: 128px;
  
}
.extens__row{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 160px 0 48px 0;
}
.row_colum{
    flex: 0 0 16.66%;
    // секции сжимаются - как убрать
    max-width: 16.66%;
    padding: 0 64px;
}

.extens__img{
    max-width: 100%;
}
.extens__inf{
    margin-left: 32PX;
    padding: 40px 0 39px 0;
    
}
.extens__title{
    font-size: 14px;
    line-height: 114%;
    text-transform: uppercase;
    color: #A060AE;
    margin-bottom: 15px;
}
.extens__text{
        font-size: 32px;
        line-height: 112%;
        color: #000000;
        margin-bottom: 15px;
        max-width: 576px;

}
.extens__desc{
        font-size: 17px;
        line-height: 141%;
        color: rgba(33, 33, 35, 0.7);
        margin-bottom: 22px;
        max-width: 470px;

}
.extens__par{
        font-size: 17px;
        line-height: 141%;
        color: #000000;

}