.open{
    background-image: url(../imgs/sec-open.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover ;  
}
.open__inf{
   display: flex;
   margin: 0 -9px 34px -9px;
} 
.open__img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 1 50%;
    max-width: 50%;
    padding: 0 9px;
    img{
        max-width: 100%;
        }  
}
.open__descr{
    flex: 0 1 50%;
    max-width: 50%;
    padding: 127px 85px 128px 32px; 
    // тут подгонял padding-left чтоб картинка screen3.jpg как в figma была, но текст из .open__descr распологается правее относительно нижнего текста
}

@media (max-width:768px){
    .open__descr{
        padding: 50px 35px 50px 22px;
    }  
}

.open__title{
    font-size: 14px;
    line-height: 114%;
    text-transform: uppercase;
    color: #B2F0EC;
    margin-bottom: 15px;
}

.open__text{
    font-size: 32px;
    line-height: 112%;
    color: #000000;
    margin-bottom: 15px;
}
.open__desc{
    font-size: 17px;
    line-height: 141%;
    color: rgba(33, 33, 35, 0.7);
    margin-bottom: 23px;
    max-width: 470px;
}
.open__par{
    font-size: 17px;
    line-height: 141%;
    color: #000000;
}

.open__colums{
    display: flex;
    margin: 0 -12px;
    margin-bottom: 152px;
}
.open__colum{
    padding: 0 12px;
    flex: 1 0 50%;
    width: 50%;
}

.colum1{
    padding: 160px 45px 0 32px;
    background-image: url(../imgs/bg-open.jpg);
    background-repeat: no-repeat;
    height: 100%;
}
.colum1-text{
    font-size: 24px;
    line-height: 133%;
    color: black;
    margin-bottom: 55px;
}

.colum1-auth{
    font-size: 17px;
    line-height: 141%;
    color: #000000;
    max-width: 412px;
}
.colum2 {
    display: flex;
    flex-direction: column;
    background: #F9F9F9;
}
.colum2-inf{
    padding: 39px 34px 24px 32px;
    .open__title{
        color: #3FB2A5;
    }
}
.colum-img{
    align-self: center;
    max-width: 100%;
}