.welcome{
}

.welcome-screens{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.frst-screen{
    max-width: 100%;
    transform: translate(-117px, -133px);
    z-index: 2;
}
.scnd-screen{
    max-width: 100%;
    position: absolute;
    top: -93px;
    right: 55px;
    // когда ращрешение > 1440px либо <1024px картинки едут друг от друга
}

.welcome__inf{
    margin-bottom: 128px;
}

.welcome__title{
    font-weight: bold;
    font-size: 14px;
    line-height: 114%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.welcome__row{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 76px;
        list-style: none;
    }
    .row-logo{
        padding: 0px 48px;
        max-width: 100%;
    }
