.section2{
}

.section2-pict{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // пока расположил так для вида
}
// как картинки так расположить, область остаётся пустой????

.firs-pict{
    transform: translate(-117px, -133px);
    z-index: 2;
}
.sec-pict{
    
    transform: translate(180px, -850px);
}


.section2-inf{
    margin: 128px 0px;
}

.section2-title{
    font-weight: bold;
    font-size: 14px;
    line-height: 114%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.section2-row{
    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 76px;
    }
    .row-logo{
        padding: 0px 48px;
    }
}
