
.welcome-screens{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
.frst-screen{
    transform: translate(-117px, -133px);
    z-index: 2;
    img{
        max-width: 100%;
    }
}
.scnd-screen{
    position: absolute;
    top: -93px;
    right: 55px;
    img{
        max-width: 100%;}
}}

.welcome__inf{
    margin-bottom: 128px;
}

.welcome__title{
    font-weight: bold;
    font-size: 14px;
    line-height: 114%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.welcome__row{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 76px;
        list-style: none;
        flex-wrap: wrap;
        padding: 0 70px;
        .welcome-colum{
            display: flex;
            flex: 0 1 20%;
            max-width: 20%;
            padding: 0px 48px;
            justify-content: space-around;
        }
    }
    .row-logo{
        max-width: 100%;
    }

    @media (max-width:768px){
        .welcome__row{
        .welcome-colum{
        flex: 0 1 33%;
        max-width: 33%;
        padding: 10px 0;}}
    }

    @media (max-width: 425px){
        .frst-screen{
        display: none;
        }
        .scnd-screen{
        display: none;
        }
        .welcome__inf{
        margin: 28px 10px;
        }
        .welcome__row{
        .welcome-colum{
        flex: 0 1 50%;
        max-width: 50%;}}
    }
    @media (max-width: 320px){
        .welcome__row{
        .welcome-colum{
        flex: 0 1 100%;
        max-width: 100%;}}
    }
