.open{
    background-image: url(../imgs/sec-open.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover ;
    
    // убрать высоту после
}
.open__inf{
   display: flex;
} 
.open__img{
    transform: translate(-131px, 24px);
    max-height: 100%;
    max-width: 100%;
    //картинку кое-как расположил
}
.open__descr{
    margin-left: -100px;
    padding: 127px 85px 128px 0; 
}