.footer 
    .container 
        .footer_subscribe
            .subscribe__inf 
                p.subscribe__desc Subscribe to our newsletter
                p.subscribe__desc.subscribe__desscr A monthly digest of the latest Sketch news, articles, and resources.
            .subscribe__area 
                .subscribe__field
                    .subscribe__input Email
                    // тут нужно намутить поинтер ещё 
                    button.button Subscribe
                .subscribe__text I agree to receive marketing emails from Sketch.
        .footer__nav
            ul.nav-colum.nav-sketch
                p Sketch
                li 
                    a(href="") Overview
                li 
                    a(href="") Design
                li 
                    a(href="") Collaborate
                li 
                    a(href="") Pricing
            ul.nav-colum.nav-apps
                p Apps
                li 
                    a(href="") Apps
                li 
                    a(href="") Extensions
                li  
                    a(href="") Updates
            ul.nav-colum.nav-support
                p Support
                li 
                    a(href="") Documentation
                li 
                    a(href="") Get Help
                li 
                    a(href="") Service Status
                    img(src="./assets/imgs/pointer.png", alt="pointer").pointer
                li 
                    a(href="") Manage License
            ul.nav-colum.nav-content
                p Connect
                li 
                    a(href="") Blog
                li 
                    a(href="") Events & Meetups
                li 
                    a(href="") Research Labs
                li 
                    a(href="") Developer Platform
            ul.nav-colum.nav-follow
                p Follow Us
                li.fol-compan
                    img(src="./assets/imgs/twitter.svg", alt="Twitter")
                    a(href="") Twitter
                li.fol-compan
                    img(src="./assets/imgs/facab.svg", alt="Facebook")
                    a(href="") Facebook
                li.fol-compan
                    img(src="./assets/imgs/insta.svg", alt="Instagram")
                    a(href="") Instagram
                li.fol-compan
                    img(src="./assets/imgs/bribb.svg", alt="Dribbble")
                    a(href="") Dribbble
            ul.nav-colum.nav-company
                p Company
                li 
                    a(href="") About Us
                li 
                    a(href="") Careers
                    img(src="./assets/imgs/nineteen.png", alt="nineteen").nineteen
                li 
                    a(href="") Terms & Policies
                li 
                    a(href="") Contact Us
        .footer__year © 2021 Sketch B.V.