.header
    .container
        .header__row
                .header__logo
                    img(src="./assets/imgs/logo.png", alt="logo").logo-img
                ul.header__list
                    li 
                        a(href="#") Design
                    li
                        a(href="#") Collaborate
                    li
                        a(href="#") Apps
                    li
                        a(href="#").with-subnav Resources
                        //img(src="./assets/imgs/vector.svg", alt="vector").nav-element-img
                        // тут нужно вставить стрелку как элемент а не картинку???
                    li
                        a(href="#").nav-element Pricing    
                .header__reg
                    a(href="") Sign In 
                    button.but-sect1 Sign Up for Free