.header
    .container
        .header__row
                .logo
                    img(src="./assets/imgs/logo.svg", alt="logo").logo__img
                ul.header__list
                    li 
                        a(href="#") Design
                    li
                        a(href="#") Collaborate
                    li
                        a(href="#") Apps
                    li
                        a(href="#").with-subnav Resources
                        //img(src="./assets/imgs/vector.svg", alt="vector").nav-element-img
                        // тут нужно вставить стрелку как элемент а не картинку???
                    li
                        a(href="#").nav-element Pricing    
                button.button.button--inverse Sign In 
                button.button Sign Up for Free