.header
    .container
        .header-nav
            .header-logo
                img(src="./assets/imgs/logo.png", alt="logo").logo-img
            .header-list 
                ul
                    a(href="#").nav-element Design
                    a(href="#").nav-element Collaborate
                    a(href="#").nav-element Apps
                    a(href="#").nav-element Resources
                    img(src="./assets/imgs/vector.svg", alt="vector").nav-element-img
                    // тут нужно вставить стрелку как элемент а не картинку???
                    a(href="#").nav-element Pricing    
            .header-reg
                a(href="") Sign In 
                button.but-sect1 Sign Up for Free