.open 
    .container 
        .open__inf 
            img(src="./assets/imgs/screen3.jpg", alt="").open__img
            .open__descr 
                p.tools__title Collaborate
                p.tools__text Open up the design process
                p.tools__desc Get fast feedback from stakeholders, share prototypes for testing and give your developers everything they need for handoff. All using powerful, browser-based tools that your people can access for free.
                p.tools__par See collaboration in action