.weclome
    .weclome-picts
        .firs-pict
            img(src="./assets/imgs/screen1.jpg", alt="screen1")
        .sec-pict
            img(src="./assets/imgs/screen2.jpg", alt="screen1")
            // как картинки расположить ?
    .container
        .weclome-inf
            .weclome-title Trusted by innovative companies worldwide
            .weclome-row
                ul
                    li
                        img(src="./assets/imgs/facebook.png", alt="facebook").row-logo
                    li
                        img(src="./assets/imgs/google.png", alt="google").row-logo
                    li
                        img(src="./assets/imgs/company3.png", alt="company3").row-logo
                    li
                        img(src="./assets/imgs/stripe.png", alt="stripe").row-logo
                    li
                        img(src="./assets/imgs/xbox.png", alt="xbox").row-logo