.get 
    .container 
        .get__inf 
            img(src="./assets/imgs/logo2.svg", alt="logo2").get__logo
            p.get__title Get started for free
            p.get__text Join over a million people using Sketch to create, collaborate and bring their ideas to life.
            p.get__text.desc Get started today with a 30-day free trial — no credit card required.
            button.button Start your trial