.open 
    .container 
        .open__inf 
            img(src="./assets/imgs/screen3.jpg", alt="").open__img
            .open__descr 
                p.open__title Collaborate
                p.open__text Open up the design process
                p.open__desc Get fast feedback from stakeholders, share prototypes for testing and give your developers everything they need for handoff. All using powerful, browser-based tools that your people can access for free.
                p.open__par See collaboration in action
.container            
    .open__colums 
        .open__colum
            .colum1
                p.colum1-text Sketch’s Libraries, compatibility with industry tools, and community of plugins let our team build and scale a design system across multiple brands and platforms — which gives our users a better, more cohesive experience.
                .colum1-auth
                    p Luca Rager
                    p Senior Software Engineer & Designer — Xbox Research & Design
        .open__colum
            .colum2
                img(src="./assets/imgs/workspace.png", alt="workspace").colum-img
                .colum2-inf   
                    p.open__title Workspaces
                    p.open__text Bring people and projects together
                    p.open__desc Keep all your documents together, in sync and available anywhere with your Workspace. Everyone gets the access they need, with full version history for every document. And it’s all included in your subscription — no need to pay for extra storage.
                    p.open__par Create your Workspace in minutes