.two-pict
    .firs-pict
        img(src="./assets/imgs/screen1.jpg", alt="screen1")
    .sec-pict
        img(src="./assets/imgs/screen2.jpg", alt="screen1")
.container
    .section2
        .section2-inf
            .section2-title Trusted by innovative companies worldwide
            .section2-row