.news
    .container 
        .news__title Latest news
        .news__row 
            .news__colum 
                img(src="./assets/imgs/news1.jpg", alt="news1").news__img
                p.news__inf.news1 Behind the scenes: How we made the Sketch 2021 video
                p.news__data 15 July 2021
            .news__colum 
                img(src="./assets/imgs/news2.jpg", alt="news2").news__img
                p.news__inf.news2 Welcome to Workspaces: Getting feedback and testing your designs
                p.news__data 13 July 2021
            .news__colum 
                img(src="./assets/imgs/news3.jpg", alt="news3").news__img
                p.news__inf.news3 Welcome to Workspaces: Sharing your work
                p.news__data 6 July 2021