.tools
    .container 
        .tools__inf 
            .tools__elem1
                img(src="./assets/imgs/tools-screen-first.jpg", alt="screen-first")
                .elem1-inf
                    p.tools__title New in Sketch
                    p.tools__text Collaborate in real-time
                    p.tools__desc Work together in the same document, at the same time, right inside the Mac app. With everyone (literally) on the same page, you can see everyone’s best ideas in one place — as soon as they have them.
                    p.tools__par Discover real-time collaboration
            .tools__elem2
                .elem2-inf
                    p.tools__title Design
                    p.tools__text Tools that help your work shine
                    p.tools__desc With an intuitive interface, thoughtful features and all the power of a native macOS app, you can stay focused on creating incredible things — from pixel-perfect icons, to your next breakthrough product.
                    p.tools__par Explore your design toolkit
                img(src="./assets/imgs/tools-screen-sec.jpg", alt="screen-sec").elem2-img
            .tools__elem3 
                p Even though I use Sketch every day, it still brings me joy. It continues to feel powerful and special, which makes doing my work even more enjoyable.
                    .tools__par.par--inverse
                        p Mark Jardine
                        p UI Designer at Tapbots