.section1 
    .container 
        .header 
            .header-nav
                .header-logo
                    img(src="./assets/imgs/logo.png", alt="logo").logo-img
                .header-list 
                    ul
                        a(href="#").nav-element Design
                        a(href="#").nav-element Collaborate
                        a(href="#").nav-element Apps
                        a(href="#").nav-element Resources
                        // стрелка {scrlbar}, нужно элемент вставить
                        a(href="#").nav-element Pricing    
            .header-reg
                a(href="") Sign In 
                button.but-sect1 Sign Up for Free
        .section1-inf
            .section1-title Your website starts here
            // слово website нужно подчеркнуть
            .section1-text Sketch is the home for your entire collaborative design process. From early ideas to pixel-perfect artwork, playable prototypes and developer handoff. It all starts here.
            .sectin1-buttons 
                button.but1 Get started for free
                button.but2 Watch the video
        