.start
    .container 
        .start__inf
            .start__title Your 
                span website
                |  starts here
            .start__text Sketch is the home for your entire collaborative design process. From early ideas to pixel-perfect artwork, playable prototypes and developer handoff. It all starts here.
            .start__buttons 
                button.button.button--get  Get started for free
                button.button.button--inverse Watch the video
        