.start
    .container 
        .start__inf
            .start__title Your 
            span website
            | starts here
            // слово website нужно подчеркнуть, непонимаю как его в span завернуть
            .start__text Sketch is the home for your entire collaborative design process. From early ideas to pixel-perfect artwork, playable prototypes and developer handoff. It all starts here.
            .start__buttons 
                button.but1 Get started for free
                a(href="#").but2 Watch the video
        