.tools
    .container 
        .tools__inf 
            img(src="./assets/imgs/tools-screen-first.jpg", alt="screen").tools__img
            .tools__elem1
                p.tools__title Design
                p.tools__text Tools that help your work shine
                p.tools__desc With an intuitive interface, thoughtful features and all the power of a native macOS app, you can stay focused on creating incredible things — from pixel-perfect icons, to your next breakthrough product.
                p.tools__par Explore your design toolkit
            img(src="./assets/imgs/tools-screen-sec.jpg", alt="").tools__img
            .tools__elem3 asd asd
            .tools__elem4 asdasdasd