.welcome
    .welcome-screens
        .frst-screen
            img(src="./assets/imgs/screen1.png", alt="frst-screen")
        .scnd-screen
            img(src="./assets/imgs/screen2.png", alt="scnd-screen")
            // как картинки расположить ?
    .container
        .welcome__inf
            .welcome__title Trusted by innovative companies worldwide
            ul.welcome__row
                li.welcome-colum
                    img(src="./assets/imgs/facebook.png", alt="facebook").row-logo
                li.welcome-colum
                    img(src="./assets/imgs/google.png", alt="google").row-logo
                li.welcome-colum
                    img(src="./assets/imgs/company3.png", alt="company3").row-logo
                li.welcome-colum
                    img(src="./assets/imgs/stripe.png", alt="stripe").row-logo
                li.welcome-colum
                    img(src="./assets/imgs/xbox.png", alt="xbox").row-logo