.extens
    ul.extens__row 
        li.row_colum 
            img(src="./assets/imgs/img1.jpg", alt="img1").extens__img
        li.row_colum
            img(src="./assets/imgs/img2.jpg", alt="img2").extens__img
        li.row_colum 
            img(src="./assets/imgs/img3.jpg", alt="img3").extens__img
        li.row_colum 
            img(src="./assets/imgs/img4.jpg", alt="img4").extens__img
        li.row_colum
            img(src="./assets/imgs/img5.jpg", alt="img5").extens__img
        li.row_colum 
            img(src="./assets/imgs/img6.jpg", alt="img6").extens__img
    .container 
        .extens__inf
            p.extens__title Extensions
            p.extens__text Customize your workflow
            p.extens__desc Choose from hundreds of plugins, Assistants and integrations that let you do everything from animating interactions to making your designs more accessible. Still can’t find exactly what you need? Our open file system means it’s easy to build your own extensions.
            p.extens__par Browse 700+ extensions
    